{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

     <!-- Home banner -->
     <section
     class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
   >
     <div class="container">
       <div class="d-sm-flex align-items-center justify-content-between">
         <div>
           <h1> Welcome to <span class="text-danger"> Netherlands</span></h1>
           <p class="lead my-4">
             Welcome to NaijaNetherlands!
             The place for Nigerian expats living in the Netherlands.
             We focus on bringing you the relevant information needed to thrive
             and enjoy the full benefits of living in the Netherlands.
             There is a lot to unlearn, learn and relearn. That's why we're here for you.
           </p>
           <button
             class="btn btn-primary btn-lg"
             data-bs-toggle="modal"
             data-bs-target="#read more"
           >
             Read more
           </button>
         </div>
         <img
           class="img-fluid w-50 d-none d-sm-block"
           src="https://res.cloudinary.com/dcnr4coqr/image/upload/v1678470678/Damrak-amsterdam-scaled-1_o0vto5.webp"
           alt="Amsterdam"
         />
       </div>
     </div>
   </section>

</div>
{%endblock%}
 
